<!doctype html>
<html>
<head>
  <title>{{> header }}</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
</head>
<body>
  <div class="wrapper">
      {{#if index}}
        <section class="content">
        <h1>Welcome to Bootcamp!</h1>
        <p>This is a <strong>Bootcamp tutorial</strong>, a fully interactive guide, providing a complete dev environment within the browser.</p>
        <h4>Table of Contents</h4>
        <div class="jumbotron-horizontal-rule"></div>
      	<div class="toc">
          <ul class="toc-list">
            {{#index}}
              <li><a href="{{ href }}">{{ name }}</a></li>
            {{/index}}
          </ul>
        </div>
        <p>If you look to your right, you'll see there is a terminal that is connected to a <strong>docker container</strong> -- that is a computer, in the cloud but accessible right here in your browser!</p>
        <p>Below the terminal, there's a filebrowser and an editor. These are connected to the same machine. Every time you type in the editor, the bootcamp automatically saves the file.</p>
      <p><strong>Be aware: When you close this browser window your server will be shut down. Servers left open for more than an hour will be deleted (just refresh to get a new one).</strong></p>
      
      <div style="padding: 0 10px; background: #eeeeee; font-size: 0.8em;">
        <p>Bootcamp is based on <a href="https://github.com/maxogden/adventure-time">adventure-time</a>, <a href="https://github.com/blahah/command_line_bootcamp">command_line_bootcamp</a> and <a href="https://github.com/mafintosh/docker-browser-server">docker-browser-server</a>.</p>
      </div>
      
      <p>Ok, ready to dive in? <a class="nextp button" href="{{index.0.href}}">Let's go! &raquo;</a>
      </p>
      </section>
      {{/if}}

      {{#if content}}
      <section class="content">
        <p><a href="index.html">table of contents</a></p>
      {{{ content }}}
        <div class="navlinks">
        {{#if next}}
          <a class="nextp button" href="{{ next }}.html">OK, next! &raquo;</a>
          {{#if previous}}
            <a class="lastp navlink" href="{{ previous }}.html">&laquo; back</a>
          {{/if}}
        {{/if}}
        </div>
      {{/if}}
    </section>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script>
    function neaten(str) {
      var pieces = str.split('_');
      var s = pieces[1];
      s = s.charAt(0).toUpperCase() + s.slice(1);
      pieces[1] = s;
      return pieces.join(' ');
    }
    $('.toc-list li a').text(function() {
      return neaten($(this).text());
    });
  </script>
</body>
</html>
